*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    position: relative;
    display: flex;
    align-items: center;
}

.navbar li{
    align-items: center;
   list-style-type: none;
}

.navbar li a{
    color: white;
    display: block;
    padding: 35px 32px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1.6rem;
}

.navbar li a:hover{
    color : black;
    text-decoration: underline;
    /* background-color: white; */
}

.navbar::before{
    content: "";
    background-color:rgb(75, 73, 73);
    position: absolute;
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* opacity: 0.3;  */
}

img{
    margin: 30px 20px;
    height: 50px;
    width: 100px;
}

.home img{
    margin: 0px;
    height: 1000px;
    width: 100%;
}

.container{
    margin: 50px;
    text-align: center;
    font-size: 2rem;
}

.container p{
    text-align: center;
   
    padding: 20px 100px;
    margin: 9px;
    font-size: 2.1rem;
    font-family: 'Sora', sans-serif;
}

.training{
    margin: 30px;
    height: 700px;
    background-color: bisque;
    display: flex;
    border-radius: 30px;
}

.training img{
    border-radius: 30px;
    height: 637px;
    width: 50%;
}

.content{
width: 50%;
}

.content h2{
    
    font-size: 3rem;
    margin: 0px 26px;
    padding: 9px;
}
.content p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.2rem;
    height: 400px;
    padding: 0px 20px;
    margin: 16px 10px;
}

.grid2{
    align-items: center;
    width: 100%;
    display: flex;
}

.box{
    background-color: lavender;
    margin: 15px;
    height: 500px;
    align-items: center;
    border-radius: 35px;
}

.box img{
    padding: 0px 136px;
    display: block;
    margin: auto;
    align-items: center;
    height: 137px;
    margin: 33px;
    width: 258px;
}

.box p{
    padding: 35px;
    font-size: 2rem;
    font-family: 'Open Sans Condensed', sans-serif; 
}

.box h2{
    font-size: 2.5rem;
    font-weight: bold;
}

.grid h1{
    margin: 24px;
    font-size: 4rem;
    text-align: center;
}

/* //last part */

.class{
    width: 100%;
}
.class img{
    margin: 80px 15px 20px 15px;
    height: 280px;
    width: 440px;
}

.footer{
    display: flex;
    font-size: 1.7rem;
    background-color: rgb(75, 73, 73);
}

.foot{
    width: 25%;
    margin: 20px 45px;
    padding: 20px;
}

.foot p{
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 5px 0px;
}

.foot p a{
    text-decoration: none;
    color: white;
}

.foot p a:hover{
    text-decoration: underline;
    color: black;
}

.foot1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    text-decoration: underline;
    color: white;
}

.center{
    font-size: 1.8rem;
    text-align: center;
}

.last{
    font-size: 1.8rem;
    text-align: center;
}


/* MEDIA QUERIES */
@media (max-width: 1200px){
    .home img{
        width: auto;
    }
    
    .navbar::before{
        width: 1498px;
    }
    
    .navbar li a{
        width: 100%;
    }

    .container{
        width: 1395px;
    }

    .training{
        width: 1440px;
    }

    .content p{
        width: 590px;
    }

    .grid2{
        flex-direction: column;
        width: 1508px;
    }

    .box {
        width: 950px;
        margin: 15px;
        height: 390px;
    }

    .box img{
      padding: 0px 310px 0px 310px;
    }

    .grid h1{
        padding: 0px;
        width: 1430px;
    }

    
    .class{
        display: flex;
    }

    .class img{
        margin: 12px 15px;
        height: 280px;
        width: 371px;
    }

    
    .footer{
        width: 1502px;
    }
    .last{
        width: 1495px;
    }
    
}

@media (min-width:1200px){
    .home img{
        width: auto;
    }

    .navbar::before{
        width: 1498px;
    }

    
    .container{
        width: 1395px;
    }

    .training{
        width: 1440px;
    }

    .content p{
        width: 590px;
    }

    .box{
        width: 468px;
        height: 520px;
    }
  
    .grid h1{
      
        width: 1445px;
    }

    
    .class{
        display: flex;
    }

    .class img{
        margin: 12px 15px;
        height: 280px;
        width: 371px;
    }

    
    .footer{
        width: 1502px;
    }
    .last{
        width: 1495px;
    }
}

@media (min-width:1200px) and (max-width:1500px){
    
    .grid2{
        width: 1495px;
    }
    
    .box img{
        padding: 0px 69px 0px 69px;
      }

}

@media (min-width:1500px){
    .home img{
        width: 1791px;
    }

    .navbar::before{
        width: 1791px;
    }

    
    .container{
        width: 1653px;
    }

    .training{
        width: 1731px;
    }

    .content p{
        width: 740px;
    }

    .box{
        width: 563px;
    }

    .grid2{
        width: 1790px;
    }

    .box img{
        padding: 0px 73px 0px 123px;
    }

    
    .grid h1{
      
        width: 1737px;
    }

    
    .class{
        display: flex;
    }

    .class img{
        margin: 12px 15px;
        height: 280px;
        width: 371px;
    }

    
    .footer{
        width: 1792px;
    }
    .last{
        width: 1756px;
    }
}


@media (max-width:375px){
     .home img{
       width: 1432px;
     }

     .navbar::before{
         width: 1432px;
     }

     .training{
         width: 1372px;
     }

     .class img{
         width: 323px;
     }

     .footer{
         width:1388px
     }

     .last{
         width: 1390px;
     }

     .grid2{
         width: 1390px;
     }
}

@media (min-width:320px) and (max-width: 375px){
    .home img{
        width: auto;
    }
}

html{
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 1.0s;
} @keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

i{
    padding: 4px;
}